<%= form_for :party, url: parties_path do |f| %>
<div class="modal-body">
  <div class="container">

    <div class="form-group row">
      <%= f.label :name, "Name", class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class:"form-control", placeholder:"Party Name", required: true %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :threshold, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.number_field :threshold, class:"form-control", placeholder:"Vote" %>
        <small id="thresholdHelp" class="form-text text-muted">This is the number of
        votes a track will need to be added to the playlist.</small>
      </div>
    </div>

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <%= f.submit "Create Party", class:"btn btn-primary" %>
</div>
<% end %>
