<%= form_for :party, url: parties_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
  </p>
  <p>
    <%= f.label :threshold %><br>
    <%= f.text_field :threshold %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
