<div class="row header">

  <!-- Import button -->
  <div class="col-md-4 text-xs-center">
    <button type="button" class="btn btn-primary btn-lg"
            data-toggle="modal" data-target="#importPlaylistModal">
      Import Playlist
    </button>
  </div>

  <!-- Party Title -->
  <div class="col-md-4 text-xs-center">
    <h1 class=""><%= @party.name %></h1>
  </div>

    <div class="col-md-4">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" aria-label="Text input with dropdown button">
      <div class="input-group-btn">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<!-- Created new playlist alert -->
<% if flash[:notice] %>
<div class="alert alert-success text-xs-center" role="alert">
  <%= flash[:notice] %>
</div>
<% end %>

<!-- Party Tracks -->
<div class="row">

  <!-- Staged Tracks -->
  <div class="col-xs-6">
    <h2>Staged</h2>
    <%= render partial: "track_list", locals: {tracks: @party.juke_tracks.staged} %>
  </div>

  <!-- Active tracks -->
  <div class="col-xs-6">
    <h2>Active</h2>
    <%= render partial: "track_list", locals: {tracks: @party.juke_tracks.active} %>
  </div>
</div>

<!-- Import playlist Modal -->
<div class="modal fade" id="importPlaylistModal"
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Your Playlists</h4>
      </div>
      <div class="modal-body">
      <% if spotify_user.playlists %>
        <ul class="list-group">
          <% spotify_user.playlists.each do |playlist| %>
            <%= button_to playlist.name, {action: "import"},
                                          method: :patch,
                                          params: { playlist_id: playlist.id, owner_id: playlist.owner.id },
                                          class:"list-group-item list-group-item-action" %>
          <% end %>
        </ul>
      <% end %>
      </div>
    </div>
  </div>
</div>
