<!DOCTYPE html>
<html>
  <head>
    <title>JukeSpot</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- octicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.css">
    <script src="https://use.fontawesome.com/55364b0572.js"></script>
  </head>

  <body>
    <div class="container">
    <%= render 'layouts/nav' %>
      <%= yield %>
    </div>
  </body>
</html>
